* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple-100: hsl(254, 20%, 44%);
  --purple-500: hsl(255, 27%, 26%);
  --yellow-100: hsl(254, 21%, 56%);
  --yellow-500: hsl(251, 27%, 32%);
  --yellow-350: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 7%);
  --black: hsl(39, 0%, 100%);
  --family: "DM Sans";
  --fs: 18px;
}

body {
  background-color: #18122b;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: var(--fs);
  line-height: 1;
  color: white;
}

a:link {
  color: #99e690;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc0cb;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffcb6b;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffd900;
  background-color: transparent;
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas: "box1 box2 box2 box3" "box1 box2 box2 box3" "box1 box2 box2 box3" "box1 box2 box2 box3" "box1 box5 box6 box3" "box4 box5 box6 box3" "box4 box5 box6 box3" "box4 box7 box8 box8" "box4 box7 box8 box8" "box4 box7 box8 box8";
  max-width: 1280px;
}

.bento-grid__item--pfp {
  max-width: 165px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bento-grid__item--obj {
  max-height: 85px !important;
  max-width: 125px !important;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.svg-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.svg-container3 {
  display: flex;
  justify-content: left;
  gap: 4px;
  align-items: center;
}

.svg-container4 {
  display: flex;
  justify-content: left;
  gap: 4px;
  align-items: center;
}

.svg-center {
  width: 50px;
  height: 50px;
}

.svg-center2 {
  width: 75px;
  height: 75px;
}

.svg-center3 {
  width: 35px;
  margin-top: 3rem;
  justify-content: left;
}

.svg-center4 {
  width: 35px;
  margin-top: 3rem;
  justify-content: left;
}

.svg-center5 {
  width: 30px;
  justify-content: left;
  display: inline-block;
}

.svg-center6 {
  width: 15px;
  justify-content: left;
  display: inline-block;
}

.svg-center7 {
  width: 30px;
  justify-content: left;
  display: inline-block;
}

.svg-center8 {
  width: 15px;
  justify-content: left;
  display: inline-block;
}

.svg-center9 {
  width: 155px;
  display: inline-block;
}

.svg-center10 {
  width: 255px;
}

.bento-grid {
  display: grid;
  place-content: center;
  max-width: 100%;
  padding-top: 48px;
}

.bento-grid__item {
  position: relative;
  border-radius: 1rem;
  background-color: var(--yellow-100);
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px rgba(255, 255, 255, 0.15);
}

.bento-grid__item:first-child {
  grid-area: box1;
  justify-content: space-around;
}

.bento-grid__item:first-child img {
  margin-top: 1rem;
}

.bento-grid__item:first-child em {
  color: var(--purple-500);
}

.bento-grid__item:nth-child(2) {
  grid-area: box2;
  align-items: center;
  justify-content: space-evenly;
  color: var(--black);
  background-color: var(--purple-500);
  text-align: center;
}

.bento-grid__item:nth-child(2) span {
  color: var(--yellow-350);
}

.bento-grid__item:nth-child(3) {
  grid-area: box3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  align-content: space-evenly;
  background-color: var(--purple-100);
}

.bento-grid__item:nth-child(3) img {
  justify-self: center;
}

.bento-grid__item:nth-child(4) {
  grid-area: box4;
  justify-content: space-evenly;
  background-color: var(--yellow-500);
}

.bento-grid__item:nth-child(5) {
  grid-area: box5;
  justify-content: center;
  background-color: var(--purple-100);
}

.bento-grid__item:nth-child(6) {
  grid-area: box6;
  justify-content: center;
  background-color: var(--yellow-500);
}

.bento-grid__item:nth-child(7) {
  grid-area: box7;
  justify-content: space-around;
  align-items: start;
  padding: 30px;
  background-color: var(--yellow-100);
}

.bento-grid__item:nth-child(8) {
  grid-area: box8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  color: var(--black);
  background-color: var(--purple-500);
}

.bento-grid__item:nth-child(8) h2 {
  align-self: center;
}

.bento-grid__item-emphasis {
  color: var(--yellow-350);
}

.lg-text {
  font-size: 2.5rem;
  font-weight: 500;
}

.xlg-text {
  font-size: 3rem;
  font-weight: 500;
}

.sm-text {
  font-size: 1rem;
  font-weight: 500;
}

.med-text {
  font-size: 2.1rem;
  font-weight: 500;
}

.attribution {
  text-align: center;
  font-size: 0.55rem;
}

.gallery-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.bento-grid__item.gallery-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 226px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.gallery-images2 {
  display: flex;
  width: calc(20 * 300px * 2);
  animation: slideGallery2 60s linear infinite;
}

.gallery-images2 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@keyframes slideGallery2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-20 * 300px));
  }
}
